In [8]:
#Decision tree


#weather data classification using scikit-learn

#importing libraries(neccessary ones)


import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [9]:
#read the data of weather from the csv file 


data=pd.read_csv('C:/Users/user/Downloads/weather.csv')
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [10]:
data=pd.read_csv('C:/Users/user/Downloads/weather.csv')
data.tail()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [11]:
data=pd.read_csv('C:/Users/user/Downloads/weather.csv')
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [12]:
data=pd.read_csv('C:/Users/user/Downloads/weather.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        366 non-null    float64
 1   MaxTemp        366 non-null    float64
 2   Rainfall       366 non-null    float64
 3   Evaporation    366 non-null    float64
 4   Sunshine       363 non-null    float64
 5   WindGustDir    363 non-null    object
 6   WindGustSpeed  364 non-null    float64
 7   WindDir9am     335 non-null    object
 8   WindDir3pm     365 non-null    object
 9   WindSpeed9am   359 non-null    float64
 10  WindSpeed3pm   366 non-null    int64
 11  Humidity9am    366 non-null    int64
 12  Humidity3pm    366 non-null    int64
 13  Pressure9am    366 non-null    float64
 14  Pressure3pm    366 non-null    float64
 15  Cloud9am       366 non-null    int64
 16  Cloud3pm       366 non-null    int64
 17  Temp9am        366 non-null    float64
 18  Temp3pm        366 non-null    float64
 19  RainToday      366 non-null    object
 20  RISK_MM        366 non-null    float64
 21  RainTomorrow   366 non-null    object
dtypes: float64(12), int64(5), object(5)
memory usage: 63.0+ KB

In [13]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [15]:
data[data.isnull().any(axis=1)].head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
113,12.7,28.6,6.6,3.2,8.6,W,50.0,NaN,W,NaN,...,42,1008.3,1002.3,5,5,16.5,27.4,Yes,0.0,No
118,11.7,27.6,0.0,7.8,8.1,W,48.0,NaN,W,NaN,...,25,1013.6,1009.1,2,6,17.6,26.8,No,0.0,No
127,10.8,29.2,0.0,8.4,7.5,E,50.0,NaN,ENE,NaN,...,34,1021.6,1017.7,0,7,17.5,27.7,No,3.0,Yes
138,12.5,29.9,0.0,5.8,10.7,NW,43.0,NaN,WNW,0.0,...,30,1022.7,1018.8,0,1,16.8,29.2,No,0.0,No
140,11.5,29.3,0.0,5.2,8.0,NW,46.0,NaN,WSW,0.0,...,35,1013.8,1009.4,7,7,17.1,27.6,No,0.0,No

In [16]:
data[data.isnull().any(axis=1)].tail()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
302,-0.2,16.2,0.0,3.4,5.9,E,28.0,NaN,ENE,0.0,...,45,1027.6,1022.9,7,6,7.3,14.6,No,0.0,No
312,0.2,15.5,1.0,2.4,9.4,SE,31.0,NaN,WNW,0.0,...,37,1020.6,1018.2,1,1,7.2,15.3,No,0.0,No
348,11.9,21.1,13.2,6.6,NaN,NW,41.0,NNE,N,7.0,...,61,1019.2,1016.7,7,3,14.5,19.4,Yes,0.6,No
351,5.0,24.1,0.0,6.2,12.0,NNW,52.0,NaN,NNW,0.0,...,34,1024.5,1020.7,6,1,11.6,21.9,No,0.0,No
360,7.9,26.1,0.0,6.8,3.5,NNW,43.0,NaN,WNW,0.0,...,20,1017.6,1014.2,5,8,16.3,25.9,No,0.0,No

In [17]:
#data cleaning steps
#we will not need to number for each row so we can clean it
#data cleaning process --> as number column contains unique values which can not help us makingany decision

del data['number']

KeyError: 'number'

In [18]:
#calculating the amount of data or say number of rows in the dataset before removing the rows containing null values

before_rows=data.shape[0]
print(before_rows)

366

In [20]:
#removing the rows which contains the null values

data=data.dropna()

In [21]:
after_rows=data.shape[0]
print(after_rows)

328

In [22]:
#calculate how many rows are deleted which contains the null values

before_rows-after_rows

38

In [23]:
#filter the values which contains more than 24.99 relative humidity at 3pm

clean_data=data.copy()
clean_data['high_humidity_label']=(clean_data['Humidity3pm']>24.99)*1
clean_data['high_humidity_label'].head()

0    1
1    1
2    1
3    1
4    1
Name: high_humidity_label, dtype: int32

In [24]:
clean_data=data.copy()
clean_data['high_humidity_label']=(clean_data['Humidity3pm']>24.99)*1
clean_data['high_humidity_label'].tail()

361    0
362    0
363    1
364    1
365    0
Name: high_humidity_label, dtype: int32

In [25]:
y=clean_data[['high_humidity_label']].copy()
y.head()

   high_humidity_label
0                    1
1                    1
2                    1
3                    1
4                    1

In [26]:
clean_data['Humidity3pm'].head()

0    29
1    36
2    69
3    56
4    49
Name: Humidity3pm, dtype: int64

In [27]:
y.head()

   high_humidity_label
0                    1
1                    1
2                    1
3                    1
4                    1

In [28]:
#use 9am sensor signals at features to predict humidity at 3pm

morning_features=['MinTemp' ,'MaxTemp', 'Rainfall','Evaporation', 'Sunshine', 'WindGustSpeed','WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RISK_MM']

In [29]:
x=clean_data[morning_features].copy()
x.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RISK_MM'],
      dtype='object')

In [40]:
y.columns

Index(['high_humidity_label'], dtype='object')

In [31]:
#perform test and train split


x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=365)

In [32]:
humidity_classifier=DecisionTreeClassifier(max_leaf_nodes=10,random_state=0)
humidity_classifier.fit(x_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [33]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

In [34]:
#predict on test set

y_predicted=humidity_classifier.predict(x_test)

In [35]:
y_predicted[:10]

array([0, 0, 1, 0, 1, 1, 1, 1, 1, 1])

In [36]:
y_test['high_humidity_label'][:10]

71     0
315    0
117    1
133    0
253    1
5      1
282    1
301    1
122    1
239    1
Name: high_humidity_label, dtype: int32

In [37]:
#measure accuracy of the classifier

accuracy_score(y_test,y_predicted)*100

100.0

In [38]:
humidity_classifier=DecisionTreeClassifier(max_leaf_nodes=10,random_state=0,criterion='entropy')