In [11]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df= pd.DataFrame(d)
print(df[2:4])

   one  two
c    3    3
d    4    4

In [12]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df= pd.DataFrame(d)
print(df[1:4])

   one  two
b    2    2
c    3    3
d    4    4

In [16]:
import pandas as pd
df= pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2= pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df= df.append(df2)
df= df.drop(0)
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

In [17]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("My family :")
print(df)

My family :
     Name  Age  Rating
0    divi   22     4.0
1   dhewa   22     4.5
2  siddhu   14     5.0
3   mathi   11     5.0
4   deenu   22     4.3

In [18]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print(" The transpose of the My family :")
print(df.T)

 The transpose of the My family :
           0      1       2      3      4
Name    divi  dhewa  siddhu  mathi  deenu
Age       22     22      14     11     22
Rating   4.0    4.5     5.0    5.0    4.3

In [20]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("Axis labels of My family are :")
print(df.axes)

Axis labels of My family are :
[RangeIndex(start=0, stop=5, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [21]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("Data types of My family :")
print(df.dtypes)

Data types of My family :
Name       object
Age         int64
Rating    float64
dtype: object

In [22]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("My family is empty? :")
print(df.empty)

My family is empty? :
False

In [23]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("The dimension of My family :")
print(df.ndim)

The dimension of My family :
2

In [25]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("list is :")
print(df)
print("Dimension of My family :")
print(df.ndim)

list is :
     Name  Age  Rating
0    divi   22     4.0
1   dhewa   22     4.5
2  siddhu   14     5.0
3   mathi   11     5.0
4   deenu   22     4.3
Dimension of My family :
2

In [26]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("list is :")
print(df)
print("Shape of My family :")
print(df.shape)

list is :
     Name  Age  Rating
0    divi   22     4.0
1   dhewa   22     4.5
2  siddhu   14     5.0
3   mathi   11     5.0
4   deenu   22     4.3
Shape of My family :
(5, 3)

In [27]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("list is :")
print(df)
print("size of My family :")
print(df.size)

list is :
     Name  Age  Rating
0    divi   22     4.0
1   dhewa   22     4.5
2  siddhu   14     5.0
3   mathi   11     5.0
4   deenu   22     4.3
size of My family :
15

In [28]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['divi','dhewa','siddhu','mathi','deenu']),
  'Age':pd.Series([22,22,14,11,22]),
  'Rating':pd.Series([4,4.5,5,5,4.3])}
df= pd.DataFrame(d)
print("list is :")
print(df)
print("values of My family :")
print(df.values)

list is :
     Name  Age  Rating
0    divi   22     4.0
1   dhewa   22     4.5
2  siddhu   14     5.0
3   mathi   11     5.0
4   deenu   22     4.3
values of My family :
[['divi' 22 4.0]
 ['dhewa' 22 4.5]
 ['siddhu' 14 5.0]
 ['mathi' 11 5.0]
 ['deenu' 22 4.3]]

In [29]:
import pandas as pd 
a=pd.Series([11,12,13,14,15])
b=pd.Series([1,2,3,4,5])
print(a)
print(b)

0    11
1    12
2    13
3    14
4    15
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
a+b

0    12
1    14
2    16
3    18
4    20
dtype: int64

In [31]:
a.add(b)

0    12
1    14
2    16
3    18
4    20
dtype: int64

In [32]:
a-b

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [33]:
a.subtract(b)

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [34]:
a/b

0    11.000000
1     6.000000
2     4.333333
3     3.500000
4     3.000000
dtype: float64

In [35]:
a%b

0    0
1    0
2    1
3    2
4    0
dtype: int64

In [36]:
a**b

0        11
1       144
2      2197
3     38416
4    759375
dtype: int64

In [37]:
a*b

0    11
1    24
2    39
3    56
4    75
dtype: int64

In [38]:
a.multiply(b)

0    11
1    24
2    39
3    56
4    75
dtype: int64

In [39]:
a.pow(b)

0        11
1       144
2      2197
3     38416
4    759375
dtype: int64

In [40]:
a>b

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [41]:
b<a

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [42]:
c=pd.Series([32,18,13,14,17])
print(c)

0    32
1    18
2    13
3    14
4    17
dtype: int64

In [43]:
b<c

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [44]:
b>c

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [45]:
a>c

0    False
1    False
2    False
3    False
4    False
dtype: bool